body {
    background-color: #ECECEC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
        background-color: #ECECEC;
        padding: .5em;
        margin-bottom: 2em;
        font-weight: bolder;
        color: #5DA2D5;
}

nav a:hover {color: #90CCF4;}
p {color: #5DA2D5;}
ul {color: #5DA2D5;}
a {color: #90CCF4;}
h1 {color: #F78888;}
#hamicon {display: none;}
img {max-width: 100%;}