body {background-color: #ece9df;}
p {color: #283158;}
a {
    color: #686764;
    background-color: #e8dbc9;
}
h1 {color: #e22a1d;}
h2 {color: #e22a1d;}
nav {
    background-color: #e8dbc9;
    padding: .5em;
    margin-bottom: 2em;
}
nav a {color:#e35d4f;}
nav a:hover {background-color: #e6e6e6;} 

@media only screen and (max-width: 920px)
    {
    nav a {display: block; margin: .5em;}
    span {display: none;}
    }